html,
body {
  font-family: "Koho", "Verdana", "Geneva", "Tahoma", "sans-serif";
  font-size: 15px;
  line-height: 1.5;
}
html {
  overflow-x: hidden;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 20px;
}
.pf-wide {
  letter-spacing: 5px;
}
hr {
  border: 0;
  border-top: 1px solid red;
  margin: 20px 0;
}
.pf-image {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
}
a {
  color: inherit;
}
.pf-table,
.pf-table-all {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
.pf-table-all{
    
}
