#navbar {
    overflow: hidden;
    background-color: #d66767;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 30px;
    color: rgb(87, 80, 80);
    display: block;
  }

  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }