html,
body {
  font-family: "Koho", "Verdana", "Geneva", "Tahoma", "sans-serif";
  font-size: 12px;
  color: whitesmoke;
  line-height: 1.5;
  background-color: rgb(26, 26, 26);
}

.pf-text-title {
  font-size: 25px;
  color: whitesmoke;
}

.pf-text-small {
  font-size: 8px;
  color: whitesmoke;
}

.pf-content {
  font-size: 15px;
  color: whitesmoke;
}

.pf-section {
  font-size: 12px;
  color: whitesmoke;
}

.container {
  position: relative;
  width: 100%;
}

.pf-image {
  display: block;

  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.logo {
  font-size: 16px;
  padding: 16px 32px;
}

.main {
  margin-left: 50px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .pf-navbar {
    padding-top: 15px;
  }
  .pf-navbar a {
    font-size: 18px;
  }
}

.collapsible {
  background-color: rgb(87, 80, 80);
  color: whitesmoke;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
}

.active, .collapsible:hover {
  background-color: rgb(255, 217, 0);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: rgb(87, 80, 80);
}

progress[value] {
  -webkit-appearance: none;
  width: 95%;
  height: 45px;
}

progress[value]::-webkit-progress-bar {
  background-color: #818181;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-color: #464040;
  border-radius: 5px;
}

.pf-button {
  background-color: rgb(87, 80, 80);
  border: 2px;
  color: whitesmoke;
  padding: 8px 20px;
  margin-bottom: 50px;
  cursor: pointer;
  font: "Koho";
  font-size: 15px;
  border-radius: 5px;
}

.pf-button:hover {
  background-color: rgb(255, 217, 0);
}

.pf-dark-grey {
  background-color: rgb(87, 80, 80);
  border-radius: 10px;
}

.xp-percent {
  font-size: 15px;
  font-weight: bolder;
  color: #464040;
}

.socials-link {
  color: whitesmoke;
}

.pf-contactForm {
  font-size: 15px;
  color: whitesmoke;
  margin-top: 20px;
  margin-bottom: 2px;
}

label {
  display: block;
}

textarea {
  resize: none;
  margin-top: 2px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 1rem;
  font-size: 15px;
  color: whitesmoke;
}

#clock {
  text-align: end;
  font-size: 10px;
  color: whitesmoke;
}
