html,
body {
  font-family: "Koho", "Verdana", "Geneva", "Tahoma", "sans-serif";
  font-size: 12px;
  color: whitesmoke;
  line-height: 1.5;
  background-color: rgb(39, 22, 22);
}

.pf-text-title {
  font-size: 25px;
  color: whitesmoke;
}

.pf-text-small {
  font-size: 8px;
  color: whitesmoke;
}

.pf-content {
  font-size: 15px;
  color: whitesmoke;
}

.pf-section {
  font-size: 12px;
  color: whitesmoke;
}

.pf-navbar {
  background: url(/assets/images/yBlogo1Transp.png);
  background-repeat: no-repeat;
  background-size: 160px 160px;
  background-blend-mode: color-dodge;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(54, 54, 54);
  overflow-x: hidden;
  padding-top: 150px;
}

.pf-navbar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.pf-navbar a:hover {
  color: #d66767;
}

.container {
  position: relative;
  width: 100%;
}

.pf-image {
  display: block;
  
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.logo {
  font-size: 16px;
  padding: 16px 32px;
}

.main {
  margin-left: 50px;
  font-size: 28px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .pf-navbar {
    padding-top: 15px;
  }
  .pf-navbar a {
    font-size: 18px;
  }
}

.pf-button {
  background-color: rgb(87, 80, 80);
  border: 2px;
  color: whitesmoke;
  padding: 8px 20px;
  margin-bottom: 50px;
  cursor: pointer;
  font: "Koho";
  font-size: 15px;
  border-radius: 5px;
}

.pf-button:hover {
  background-color: #d66767;
}

.pf-dark-grey {
  background-color: rgb(87, 80, 80);
  border-radius: 10px;
}

.xp-percent {
  font-size: 15px;
  font-weight: bolder;
  color: #d66767;
}

.socials-link {
  color: whitesmoke;
}

.pf-contactForm {
  font-size: 15px;
  color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 2px;
}

label {
  display: block;
}

input [type="text"],
input [type="email"],
input [type="tel"]
 {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  transition: border-color 0.15s, box-shadow 0.15s;
}

input [type="text"]:focus,
input [type="email"]:focus,
input [type="tel"]:focus
 {
  border-color: whitesmoke;
  outline: 0;
  box-shadow: 0 0 0 20px whitesmoke;
}

.form-group {
  margin-bottom: 1rem;
  font-size: 15px;
  color: whitesmoke;
}

textarea {
  resize: none;
  margin-top: 2px;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: whitesmoke;
  font-size: 60px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
